// Main Breakpoints
// ----------------
$x-large-breakpoint: 960px;
$large-breakpoint: 850px;
$mid-breakpoint: 650px;
$small-breakpoint: 500px;
$x-small-breakpoint: 450px;


$site-max-width: 1044px;
$page-header-height: 60px;
$page-header-height-mobile: 50px;
$page-nav-height: 35px;

// Font Weights
// ----------------
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Letter Spacing
// ----------------
$letter-spacing: 0.60em;

// Images
// ----------------
$img-path: '../images';