// Z-Index

// FOR: Managing z-index
// WHY: Named z-index numbers keeps magic number down to a minimum,
//		allows for easy, sitewide component z-index updates
// USE: z-index: z-index(first-floor);

// z-index function
// ----------------
@function z-index($key) {
	@return map-get($z-index, $key);
}

// z-index map
// ------------
$z-index: (
	basement: -100,
	first-floor: 100,
	second-floor: 200,
	attic: 300,
	space: 2147483647 // Max z-index value: http://www.puidokas.com/max-z-index/
);