// Grid Utilities

$grid-module: 'grid';

.#{$grid-module} {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;

	&__row {
		// Adds a little space before the footer. (for the content)
		padding-bottom: spacer(px, large);
		padding-bottom: spacer(rem, large);
		@extend %clearfix;
	}

	&__nested {
		// to make sure that susy styles are overridden at all breakpoints
		// we use important.
		padding-left: 0!important;
		padding-right: 0!important;
		&--left {
			padding-left: 0!important;
		}
		&--right {
			padding-right: 0!important;
		}
	}

	// Static Grids
	// -------------
	&__8-static {
		@include span(8 of 12);
	}

	&__4-static {
		@include span(4 of 12);
	}

	// Default Grids
	// --------------
	&__12 {
		@include span(full break);
	}

	&__4 {
		@include span(full);
	}

	&__6 {
		@include span(full);
	}

	&__8 {
		@include span(full);
	}
}

// Mid Breakpoint
// ---------------

@include media-query(mid) {
	.#{$grid-module} {

		&__4 {
			@include span(4 of 12);
		}

		&__6 {
			@include span(6 of 12);
		}

		&__8 {
			@include span(8 of 12);
		}
	}
}

// Large Breakpoint
// -----------------
@include media-query(large) {
	.#{grid-module} {

		&__row {
			@include span(inside isolate 10 at 2);
		}
	}
}
